<a href="https://colab.research.google.com/github/almasfiza/Data-Science/blob/master/assignment3_zerotopandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.utils.colab.set_colab_file_id('1VDSacKpzLO1QqMOwG3WigV9dWVGl4w0x')

# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered this tutorial: https://jovian.ml/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/3 . You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before staring the assignment, let's save a snapshot of the assignment to your Jovian.ml profile, so that you can access it later, and continue your work.

In [ ]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

In [ ]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Requirement already up-to-date: pandas in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [ ]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7f7acf55a978>)

Let's load the data from the CSV file into a Pandas data frame.

In [ ]:
countries_df = pd.read_csv('countries.csv')

In [ ]:
countries_df

           location continent  ...  hospital_beds_per_thousand  gdp_per_capita
0       Afghanistan      Asia  ...                        0.50        1803.987
1           Albania    Europe  ...                        2.89       11803.431
2           Algeria    Africa  ...                        1.90       13913.839
3           Andorra    Europe  ...                         NaN             NaN
4            Angola    Africa  ...                         NaN        5819.495
..              ...       ...  ...                         ...             ...
205         Vietnam      Asia  ...                        2.60        6171.884
206  Western Sahara    Africa  ...                         NaN             NaN
207           Yemen      Asia  ...                        0.70        1479.147
208          Zambia    Africa  ...                        2.00        3689.251
209        Zimbabwe    Africa  ...                        1.70        1899.775

[210 rows x 6 columns]

**Q: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [ ]:
num_countries = countries_df.shape[0]

In [ ]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**Q: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [ ]:
continents = pd.unique(countries_df['continent'])

In [ ]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**Q: What is the total population of all the countries listed in this dataset?**

In [ ]:
total_population = countries_df['population'].sum()

In [ ]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [ ]:

#this returns a series of life_expectancy in the table
life_expectancy = (countries_df['population']*countries_df['life_expectancy'])/countries_df['population']
print(life_expectancy)

0      64.83
1      78.57
2      76.88
3      83.73
4      61.15
       ...
205    75.40
206    70.26
207    66.12
208    63.89
209    61.49
Length: 210, dtype: float64

In [ ]:
#taking the avergae of this series
print("Life expectancy across the world is : ", life_expectancy.sum()/len(life_expectancy))

Life expectancy across the world is :  72.47942857142857

In [ ]:

jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**Q: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [ ]:
most_populous_df = countries_df.sort_values('population', ascending=False).head(10)

In [ ]:
most_populous_df

          location      continent  ...  hospital_beds_per_thousand  gdp_per_capita
41           China           Asia  ...                        4.34       15308.712
90           India           Asia  ...                        0.53        6426.674
199  United States  North America  ...                        2.77       54225.446
91       Indonesia           Asia  ...                        1.04       11188.744
145       Pakistan           Asia  ...                        0.60        5034.708
27          Brazil  South America  ...                        2.20       14103.452
141        Nigeria         Africa  ...                         NaN        5338.454
15      Bangladesh           Asia  ...                        0.80        3523.984
157         Russia         Europe  ...                        8.05       24765.954
125         Mexico  North America  ...                        1.38       17336.469

[10 rows x 6 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**Q: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [ ]:
countries_df['gdp'] = countries_df['population']*countries_df['gdp_per_capita']

In [ ]:
countries_df

           location continent  ...  gdp_per_capita           gdp
0       Afghanistan      Asia  ...        1803.987  7.022622e+10
1           Albania    Europe  ...       11803.431  3.396791e+10
2           Algeria    Africa  ...       13913.839  6.101364e+11
3           Andorra    Europe  ...             NaN           NaN
4            Angola    Africa  ...        5819.495  1.912651e+11
..              ...       ...  ...             ...           ...
205         Vietnam      Asia  ...        6171.884  6.007624e+11
206  Western Sahara    Africa  ...             NaN           NaN
207           Yemen      Asia  ...        1479.147  4.411699e+10
208          Zambia    Africa  ...        3689.251  6.782303e+10
209        Zimbabwe    Africa  ...        1899.775  2.823622e+10

[210 rows x 7 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [ ]:
#First finding the countries with population greater than 100 million
highPOP_df = countries_df[countries_df['population']>100000000]
highPOP_df

          location      continent  ...  gdp_per_capita           gdp
15      Bangladesh           Asia  ...        3523.984  5.803628e+11
27          Brazil  South America  ...       14103.452  2.997821e+12
41           China           Asia  ...       15308.712  2.203419e+13
58           Egypt         Africa  ...       10550.206  1.079649e+12
63        Ethiopia         Africa  ...        1729.927  1.988786e+11
90           India           Asia  ...        6426.674  8.868838e+12
91       Indonesia           Asia  ...       11188.744  3.060386e+12
99           Japan           Asia  ...       39002.223  4.932863e+12
125         Mexico  North America  ...       17336.469  2.235239e+12
141        Nigeria         Africa  ...        5338.454  1.100467e+12
145       Pakistan           Asia  ...        5034.708  1.112128e+12
151    Philippines           Asia  ...        7599.188  8.327273e+11
157         Russia         Europe  ...       24765.954  3.614206e+12
199  United States  North America  ...       54225.446  1.794877e+13

[14 rows x 7 columns]

In [ ]:
#now shortlisting the countries with the lowest GDP per capita
lowGDP_df = highPOP_df.sort_values('gdp_per_capita', ascending = True).head(10)
lowGDP_df

        location      continent  ...  gdp_per_capita           gdp
63      Ethiopia         Africa  ...        1729.927  1.988786e+11
15    Bangladesh           Asia  ...        3523.984  5.803628e+11
145     Pakistan           Asia  ...        5034.708  1.112128e+12
141      Nigeria         Africa  ...        5338.454  1.100467e+12
90         India           Asia  ...        6426.674  8.868838e+12
151  Philippines           Asia  ...        7599.188  8.327273e+11
58         Egypt         Africa  ...       10550.206  1.079649e+12
91     Indonesia           Asia  ...       11188.744  3.060386e+12
27        Brazil  South America  ...       14103.452  2.997821e+12
41         China           Asia  ...       15308.712  2.203419e+13

[10 rows x 7 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**Q: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [ ]:
country_counts_df = countries_df.groupby('continent')['continent'].agg('count')

In [ ]:

country_counts_df

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: continent, dtype: int64

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**Q: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [ ]:
continent_populations_df =  countries_df.groupby('continent')['population'].agg(sum)

In [ ]:
continent_populations_df

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [ ]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x7f7acee3ada0>)

In [ ]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [ ]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [ ]:
total_tests_missing =  covid_data_df['total_tests'].isna().agg('sum'
)

In [ ]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

Let's merge the two data frames, and compute some more metrics.

**Q: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [ ]:
combined_df = countries_df.merge(covid_data_df)

In [ ]:
combined_df

           location continent  ...  total_deaths  total_tests
0       Afghanistan      Asia  ...        1409.0          NaN
1           Albania    Europe  ...         296.0          NaN
2           Algeria    Africa  ...        1525.0          NaN
3           Andorra    Europe  ...          53.0          NaN
4            Angola    Africa  ...         109.0          NaN
..              ...       ...  ...           ...          ...
205         Vietnam      Asia  ...          35.0     261004.0
206  Western Sahara    Africa  ...           1.0          NaN
207           Yemen      Asia  ...         571.0          NaN
208          Zambia    Africa  ...         292.0          NaN
209        Zimbabwe    Africa  ...         206.0      97272.0

[210 rows x 10 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**Q: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [ ]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [ ]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [ ]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [ ]:
combined_df

           location continent  ...  cases_per_million  deaths_per_million
0       Afghanistan      Asia  ...         982.394806           36.194710
1           Albania    Europe  ...        3380.359997          102.856349
2           Algeria    Africa  ...        1029.804468           34.776824
3           Andorra    Europe  ...       15518.022390          685.950948
4            Angola    Africa  ...          83.033462            3.316470
..              ...       ...  ...                ...                 ...
205         Vietnam      Asia  ...          10.745996            0.359570
206  Western Sahara    Africa  ...        1282.373228            1.674116
207           Yemen      Asia  ...          66.250993           19.144391
208          Zambia    Africa  ...         675.317108           15.883415
209        Zimbabwe    Africa  ...         446.614587           13.859989

[210 rows x 13 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [ ]:
highest_tests_df = combined_df.sort_values('tests_per_million', ascending=False).head(10)

In [ ]:
highest_tests_df

                 location      continent  ...  cases_per_million  deaths_per_million
197  United Arab Emirates           Asia  ...        7233.276713           39.128852
14                Bahrain           Asia  ...       30818.361490          111.660730
115            Luxembourg         Europe  ...       12665.022301          198.090662
122                 Malta         Europe  ...        4373.339614           29.442473
53                Denmark         Europe  ...        2968.645954          108.076323
96                 Israel           Asia  ...       14157.289533          111.951408
89                Iceland         Europe  ...        6215.384615           29.304029
157                Russia         Europe  ...        6886.653091          119.327539
199         United States  North America  ...       18472.377957          561.155633
10              Australia        Oceania  ...        1016.592979           26.000121

[10 rows x 13 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [ ]:

highest_cases_df = combined_df.sort_values('cases_per_million', ascending=False).head(10)

In [ ]:
highest_cases_df

          location      continent  ...  cases_per_million  deaths_per_million
155          Qatar           Asia  ...       41375.743650           69.071800
14         Bahrain           Asia  ...       30818.361490          111.660730
147         Panama  North America  ...       21805.112117          470.477208
40           Chile  South America  ...       21695.671982          593.423100
162     San Marino         Europe  ...       21657.139490         1237.550828
9            Aruba  North America  ...       20708.839893          112.395332
105         Kuwait           Asia  ...       20249.789079          125.276222
150           Peru  South America  ...       20121.318048          887.393445
27          Brazil  South America  ...       18808.224105          582.331314
199  United States  North America  ...       18472.377957          561.155633

[10 rows x 13 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [ ]:
highest_deaths_df = combined_df.sort_values('deaths_per_million', ascending = False).head(10)

In [ ]:
highest_deaths_df

           location      continent  ...  cases_per_million  deaths_per_million
162      San Marino         Europe  ...       21657.139490         1237.550828
150            Peru  South America  ...       20121.318048          887.393445
18          Belgium         Europe  ...        7404.645676          854.040375
3           Andorra         Europe  ...       15518.022390          685.950948
177           Spain         Europe  ...       10256.790198          624.406705
198  United Kingdom         Europe  ...        4988.892850          611.525168
40            Chile  South America  ...       21695.671982          593.423100
97            Italy         Europe  ...        4490.684602          587.097697
27           Brazil  South America  ...       18808.224105          582.331314
182          Sweden         Europe  ...        8370.109919          576.279276

[10 rows x 13 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [ ]:
#finding the countries in both the dataframes - highest_cases_df  and highest_tests_df--- applying inner join or intersection
test_and_cases = pd.merge(highest_cases_df, highest_tests_df, how='inner', on=['location'])

In [ ]:
test_and_cases

        location    continent_x  ...  cases_per_million_y  deaths_per_million_y
0        Bahrain           Asia  ...         30818.361490            111.660730
1  United States  North America  ...         18472.377957            561.155633

[2 rows x 25 columns]

In [ ]:
print('The number of countries featured both in the highest number of tests per million and highest number of cases per millions are :',test_and_cases['location'].agg('count'))

The number of countries featured both in the highest number of tests per million and highest number of cases per millions are : 2

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [ ]:
#20 countries with the lowest GDP per capita
lowestGDP_df = combined_df.sort_values('gdp_per_capita', ascending = True).head(20)
lowestGDP_df

                         location  ... deaths_per_million
38       Central African Republic  ...          12.837066
32                        Burundi  ...           0.084099
111                       Liberia  ...          16.212977
52   Democratic Republic of Congo  ...           2.880705
140                         Niger  ...           2.850458
118                        Malawi  ...           9.147957
132                    Mozambique  ...           0.799861
168                  Sierra Leone  ...           8.900606
43                        Comoros  ...           8.049724
117                    Madagascar  ...           7.078107
190                          Togo  ...           3.623741
207                         Yemen  ...          19.144391
61                        Eritrea  ...           0.000000
83                  Guinea-Bissau  ...          17.276440
71                         Gambia  ...          40.137975
176                   South Sudan  ...           4.198780
85                          Haiti  ...          18.066161
195                        Uganda  ...           0.699591
31                   Burkina Faso  ...           2.631166
63                       Ethiopia  ...           7.358852

[20 rows x 13 columns]

In [ ]:
#20 countries with the lowest number of hospital beds per thousand of population
lowestBeds_df = combined_df.sort_values('hospital_beds_per_thousand', ascending = True).head(20)
lowestBeds_df

         location      continent  ...  cases_per_million  deaths_per_million
121          Mali         Africa  ...         138.364672            6.221966
117    Madagascar         Africa  ...         542.522469            7.078107
82         Guinea         Africa  ...         721.781020            4.492571
63       Ethiopia         Africa  ...         473.271610            7.358852
135         Nepal           Asia  ...        1429.429058            8.614533
140         Niger         Africa  ...          48.623030            2.850458
31   Burkina Faso         Africa  ...          65.922675            2.631166
0     Afghanistan           Asia  ...         982.394806           36.194710
195        Uganda         Africa  ...          68.035242            0.699591
20          Benin         Africa  ...         180.975350            3.299459
90          India           Asia  ...        2792.314316           48.823033
145      Pakistan           Asia  ...        1344.609832           28.647441
80      Guatemala  North America  ...        4223.366193          155.730488
190          Togo         Africa  ...         173.214827            3.623741
207         Yemen           Asia  ...          66.250993           19.144391
85          Haiti  North America  ...         724.225047           18.066161
86       Honduras  North America  ...        6312.819245          194.253018
61        Eritrea         Africa  ...          89.949687            0.000000
187      Tanzania         Africa  ...           8.521080            0.351557
132    Mozambique         Africa  ...         131.721091            0.799861

[20 rows x 13 columns]

In [ ]:
#finding the countries in both the dataframes - lowestGDP_df and lowestBeds_df --- applying inner join or intersection
GDP_beds_df = pd.merge(lowestGDP_df, lowestBeds_df, how='inner', on=['location'])
GDP_beds_df['location']

0           Niger
1      Mozambique
2      Madagascar
3            Togo
4           Yemen
5         Eritrea
6           Haiti
7          Uganda
8    Burkina Faso
9        Ethiopia
Name: location, dtype: object

In [ ]:
GDP_beds_df

       location    continent_x  ...  cases_per_million_y  deaths_per_million_y
0         Niger         Africa  ...            48.623030              2.850458
1    Mozambique         Africa  ...           131.721091              0.799861
2    Madagascar         Africa  ...           542.522469              7.078107
3          Togo         Africa  ...           173.214827              3.623741
4         Yemen           Asia  ...            66.250993             19.144391
5       Eritrea         Africa  ...            89.949687              0.000000
6         Haiti  North America  ...           724.225047             18.066161
7        Uganda         Africa  ...            68.035242              0.699591
8  Burkina Faso         Africa  ...            65.922675              2.631166
9      Ethiopia         Africa  ...           473.271610              7.358852

[10 rows x 25 columns]

In [ ]:
#now finding the countries with more than 100 mn population
#First finding the countries with population greater than 100 million - was done before too
GDP_beds_df = GDP_beds_df[GDP_beds_df['population_x'] + GDP_beds_df['population_y']>100000000]
GDP_beds_df

   location continent_x  ...  cases_per_million_y  deaths_per_million_y
9  Ethiopia      Africa  ...            473.27161              7.358852

[1 rows x 25 columns]

In [ ]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/almasfiza/pandas-practice-assignment

'https://jovian.ml/almasfiza/pandas-practice-assignment'

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2