<a href="https://colab.research.google.com/github/almasfiza/Data-Science/blob/master/WeekOneA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Week One - Data Science Course on Coursera**

Things covered 
A : Basics of Python
B : Introduction to Numpy


In this notebook, we go through the important concepts of python- using lists, lambda, strings, objects and mapping.

**FUNCTIONS**

In [2]:
#adding two numbers
def add(x, y):
  return x + y

#call directly and print
print(add(2,4))
#store it in a variable and print
res = add(4,3)
print(res)

6
7

**TYPES AND SEQUENCES**

Since Python is a dynamicall programmed language, you do not need 
to specify the data type of the variables you are using. However,
this can become ambiguous sometimes and the type function helps you figure 
out the data you are working with

In [3]:
type("hello")

str

In [4]:
type('hello')

str

In [5]:
type(2)

int

In [6]:
type(3.4)

float

In [7]:
type(add)

function

In [12]:
 res = lambda x : x+1
 res(5)

6

In [14]:
#note that the type of lambda is a function
type(res)

function

In [15]:
#Tuples are immutable
t1 = ('a','2',100)
type(t1)

tuple

In [20]:
#Lists are mutable
l1 = ['1',"hello",100]
type(l1)

list

In [21]:
#to append to a list
l1.append('world')
print(l1)

['1', 'hello', 100, 'world']

In [22]:
#iterating through the list using for loop
for item in l1:
  print(item)

1
hello
100
world

In [23]:
#iterating through list using an index operator
i = 0
while( i != len(l1) ):
  print(l1[i])
  i+=1

1
hello
100
world

In [24]:
#to concatenate lists
l2 = ["another", 99, "list "]
l1 + l2

['1', 'hello', 100, 'world', 'another', 99, 'list ']

In [26]:
#to repeat lists
[2]*5

[2, 2, 2, 2, 2]

In [27]:
#check if the item is in the list
'hello' in l1

True

In [29]:
'helloworld' in l1

False

In [30]:
#Let us work with strings now
s = "This is a string, obviously."
len(s)

28

In [31]:
#first character of the string
print(s[0])
#first index of i
print(s.index('i'))

T
2

In [36]:
#slicing the string to get a substring
# the first three characters of the string at index 0 , 1 and 2
print(s[0:3])
#The first three characters of the string
print(s[:3])
#The last three characters of the string -1,-2,-3
print(s[-3:])
#The last three characters of the string
print(s[len(s)-3:])

Thi
Thi
ly.
ly.

In [37]:
firstname = "Margaret"
lastname = "Hamilton"
print( 'Mar' in firstname )
print( firstname + " " + lastname )

True
Margaret Hamilton

In [39]:
#split function in the string- converts the string words to list elements
sentence = "I am learning Python for Data Science."
language = sentence.split(' ')[3]
domain = sentence.split(' ')[5] + " " + sentence.split(' ')[6]
print(language)
print(domain)

Python
Data Science.

In [40]:
#going to give an error due to incompatible data types string and int
'Python ' + 3

TypeError: ignored

In [42]:
#convert it
'Python ' + str(3)

'Python 3'

In [43]:
#finding the ascii of the character
ord('a')

97

In [45]:
#converting ascii to the character
chr(97)

'a'

In [50]:
#Working with dictionaries now.
x = {"January":"Winter","August":"Fall","December":"Winter"}
x["January"]

'Winter'

In [51]:
x.values()

dict_values(['Winter', 'Fall', 'Winter'])

In [52]:
x.keys()

dict_keys(['January', 'August', 'December'])

In [54]:
print(x)

{'January': 'Winter', 'August': 'Fall', 'December': 'Winter'}

In [59]:
#iterating over a dictionary
for month in x.keys():
  print(month)

January
August
December

In [61]:
for season in x.values():
  print(season)

for month in x:
  print(x[month])

Winter
Fall
Winter
Winter
Fall
Winter

In [62]:
name = ('Lady','Diana','Spencer')
title, firstname, lastname = name

In [63]:
print(title)
print(lastname)

Lady
Spencer

**BONUS**

In [64]:
#list inside of list
color = [['green','yellow'],['blue','yellow'],'red']

In [65]:
color[1]

['blue', 'yellow']

In [66]:
color[1][1]

'yellow'

In [67]:
#more on strings
#string formatting

bill = {
    'items' : 10,
    'price' : 132.21,
    'day' : 'Thursday'
}

type(bill)

dict

In [68]:
bill_statement = '{} items were bought for {} bucks on {}.'

print(bill_statement.format(bill['items'],bill['price'],bill['day']))

10 items were bought for 132.21 bucks on Thursday.

**READING AND WRITING CSV FILES USING PYTHON**

-- will do later with the csv file

**DATES AND TIMES IN PYTHON**

In [70]:
import datetime as dt
import time as tm

In [71]:
tm.time()
#returns the current time in seconds in relation to the Epoch which is 1st January 1970

1596357229.84

In [72]:
#convert the timestamp to date
datenow = dt.datetime.fromtimestamp(tm.time())
datenow

datetime.datetime(2020, 8, 2, 8, 39, 32, 367327)

In [73]:
datenow.year

2020

In [74]:
datenow.month

8

In [75]:
datenow.day

2

In [76]:
datenow.hour

8

In [77]:
datenow.minute

39

In [78]:
datenow.second

32

**OBJECTS AND MAP()**

In [79]:
class Person:
  department = "School of Information"

  def set_name(self, new_name):
    self.name = new_name
  def set_location(self, new_loc):
    self.loc = new_loc

In [82]:
person = Person()
person.set_name("Margaret Hamilton")
person.set_location("Ann Arbor MI")
print('{} lives in {} and works in {} depatment at Michigan.'.format(person.name,person.loc,person.department))

Margaret Hamilton lives in Ann Arbor MI and works in School of Information depatment at Michigan.

In [85]:
#Mapping the min function
s1 = [12.00, 11.00, 3.21, 3.11]
s2 = [1.02, 3.21 ]
cheapest = map(min, s1, s2)
cheapest
#lazy evaluation

In [86]:
for item in cheapest:
  print(item)

1.02
3.21

**LAMBDA AND LIST COMPREHENSIONS**

In [87]:
func = lambda a, b, c : a + b

In [88]:
func(1, 2, 3)

3

In [92]:
#Let us iterate from 0 to 99 and return the odd numbers

odd = []
for number in range(0,99):
  if number % 2 is not 0:
    odd.append(number)

odd

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97]

In [93]:
#now using list comprehension for a compact code
odd = [ number for number in range(0,99) if number % 2 is not 0]
odd

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97]